*{
    margin: 0%;
    padding: 0%;
    background-color: #e3f9ff;
}
.container
{
    width: 300px;
    height: 500px;
    background:#3a4452;
    border-radius: 10px;
    margin-left: 37%;
    margin-top: 6.3%;
    padding: 20px;
}
.display
{
    text-align: end;
    font-size: 40px;
    padding-top: 40px;
    flex: 1;
    background: transparent;
    width: 30   0px;
    height: 68px;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    color: #000;
}
.text
{
    background: transparent;
    font-size: 45px;
    margin-top: 40px;
    margin-right: 20px;
    color: white;
}
.button-row
{
    background: transparent;
    margin-top: 10px;
}
button
{
    border-radius: 10px;
    background-color: transparent;
    height: 70px;
    width: 70px;
    font-size: 16px;
}
button:hover
{
    background-color:darkslategray;
    transform: .5s;
}